<%- layout('layout/layout') %>

<div class="page-content header-clear-medium">

    <div data-height="220" class="caption caption-margins round-medium shadow-large" style="height: 220px;">
        <div class="caption-center">
            <h1 class="center-text color-white bolder font-30"><%=pigData.pig.goal%></h1>
            <h3 class="boxed-text-large color-white opacity-80" style="margin-top:20px">
                <%=pigData.pig.promise%>
            </h3>
            <div class="scale-box" style="margin-top:25px">
                <a href="#" onclick="showPayment()" class="button button-round-huge button-center-large button-s"
                    style="background: #CEC0AE"
                >
                   <h3> <%= pigData.saved_money.toLocaleString() %>원 남았습니다. </h3></a>
            </div>
        </div>

        <div class="caption-overlay bg-black opacity-40"></div>
        <div class="caption-bg bg-17"></div>
    </div>


    <div class="content-boxed left-20 right-20">
        <div class="content bottom-10">
            <button type='button' onclick="showlist()"
                    class="horizontal-center round-image bottom-10"
                    style="cursor: pointer"><img src="/images/20.png" alt="img" width="150"></button>
            <h2 style="padding-top: 10px" class="center-text">무게 : <strong id="weight"><%= pigData.weight %></strong> kg
            </h2>

            <script>

            </script>
        </div>
        <div class="clear"></div>
    </div>

    <div class="content-boxed">

        <div class="content top-10 bottom-0">

            <h6 class="center-text uppercase bolder color-highlight">목표금액</h6>
            <h1 class="center-text uppercase ultrabold fa-3x"><%= pigData.pig.goalAmt %></h1>
            <!--<p class="boxed-text-large">We've served over 30.000 Customers. We're delighted to see happy customers!-->

            </p><div class="divider"></div>

            <div class="one-half">
                <h6 class="center-text uppercase bolder color-highlight">일주일 예산</h6>
                <span class="center-text uppercase ultrabold fa-3x"><%= pigData.pig.budgetAmt.toLocaleString() %>원</span>
                    <a href="/main/newlist" class="button button-m shadow-small button-circle" style="background-color:#CC9999 ">내역 보기</a>

                <!--<p class="center-text">-->
                    <!--We have over 100 mobile<br> items in our portfolio.-->
                <!--</p>-->
            </div>
            <div class="one-half last-column">
                <h6 class="center-text uppercase bolder color-highlight">이번주 저축예상금액</h6>
                <h1 class="center-text uppercase ultrabold fa-3x bottom-30"><%= pigData.today_save_money.toLocaleString() %>원</h1>
                <!--<p class="center-text">-->
                    <!--We have over 70 mobile<br> items in our portfolio.-->
                <!--</p>-->
            </div>
            <div class="clear"></div>
        </div>
    </div>


</div>

<script>
  function showPayment() {
    window.location.href = "/main/listPayment";
  }
  function showlist() {
    window.location.href = "/main/newlist";
  }

</script>

