<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">	
        <div class="search-trending content-boxed shadow-large">
                <div class="content bottom-15"> 
                <!-- <ul class="bottom-15">
                    <li><a href="#">All Products<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">Eazy Mobile<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">Mega Mobile<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">Ultra Mobile<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">Kolor Mobile<i class="fa fa-angle-right"></i></a></li>
                    <li class="no-border"><a href="#">Vinga Mobile<i class="fa fa-angle-right"></i></a></li>
                </ul> -->
                <table>
                        <tr>
                          <th>날짜</th>
                          <th>저금 금액</th>
                        </tr>
                        <%

                        var amount = 0;
                        for(var i=0; i < tx_list.length ;i++){

                        %>
                          <tr>
                            <td><%= tx_list[i].tran_date %></td>
                              <td><%= tx_list[i].tran_amt %></td>
                          </tr>
                          <%
                            amount = amount + Number(tx_list[i].tran_amt);
                        } %>
                        
                        <!-- <tr>
                          <td>2019 - 02 - 19</td>
                          <td>12000원</td>
                        </tr>
                        <tr>
                          
                          <td>2019 - 02 - 19</td>
                          <td>1250원</td>
                        </tr>
                        <tr>
                          
                          <td>2019 - 02 - 19</td>
                          <td>6500원</td>
                        </tr>
                         -->
                </table>
                <table>
                      <%
                        var last_day = tx_list.length;
                        var amount = 0;
                        for(var i=0; i < tx_list.length ;i++){
                            amount = amount + Number(tx_list[i].tran_amt);
                      }%>
                      <tr>
                          <th>마지막 저금 날짜</th>
                          <th>현재까지 모은 금액</th>
                        </tr> 
                      <tr>
                          <td><%= tx_list[last_day-1].tran_date %></td>
                          <td><%= amount %></td>
                      </tr>
                      <%= amount%>

                </table>
             </div>
        </div>
</div>